extends layout

block content

  // главная страница
  .page
    .main.start
      .title Получите подборку 10 лучших предложений, которые полностью подходят под ваши параметры
      .title__desc Получите подборку 10 лучших предложений, которые полностью<br>подходят под ваши параметры
      .center
        .control
          button(type="button").control__button.lf_q_start Пройти онлайн-тест
  // страница результатов
  .page.lf_q_results
    .main
      // форма
      .lf_q_main_form_wrapper
        .title.lf_q_main_form_h Получите подборку 10 лучших предложений, которые полностью подходят под ваши параметры
        form(action="#")#lf_q_main_form
          .center
            .article.with-plus.lf_q_gift
              .article__img.lf_q_gift_img
              .article__desc.lf_q_gift_text Полезная статья<br>Как сэкономить<br>до 100 000 рублей
          .space-b
            .control
              label(for="control-1").control__label Введите Вашу почту
              .control-area.mail
                input(id="control-1", name="email", placeholder="ivanov@yandex.ru").control__input
              .control__desc Для отправки файла
            .control
              label(for="control-2").control__label Введите номер телефона
              .control-area.phone
                input(id="control-2", name="phone", placeholder="7 999 999 99 99").control__input
              .control__desc Для смс подтверждения
          .center
            .control
              button(type="button")#lf_q_main_form_button.control__button Открыть результаты
          .agree
            input(type="checkbox", id="lf_q_agreement", checked).agree__input
            label(for="lf_q_agreement").agree__label Вы соглашаетесь с условиями обработки персональных данных
      // sms
      .lf_q_main_form_wrapper(style="display: none")
        button(type="button").button.prev.lf_q_back Изменить номер
        .lf_q_verify_popup
          .title.small-mar.lf_q_verify_form_h На номер <span>7 999 999 99 99</span> было отправлено<br>SMS сообщение с кодом подтверждения
          .send-again.lf_q_verify_timeout Повторная отправка через <span>0:59</span>
          form(action="#", id="lf_q_verify_form")
            .control
              .control-area
                input(type="text", id="lf_q_verify_code", placeholder="Введите полученный код").control__input
            .control
              .control-area
                button(type="button")#f_q_verify_form_button.control__button Открыть результаты
            .article.with-plus.lf_q_gift
              .article__img.lf_q_gift_img
              .article__desc.lf_q_gift_text Полезная статья<br>Как сэкономить<br>до 100 000 рублей
  // страница вопросов
  .page.lf_q_questions(style="display: block")
    // вопросы
    .detail
      .detail-left.progress
        .progress-info
          .progress__count.lf_q_question_count.
            Вопрос <span class="lf_q_current_question">1</span>
            из <span class="lf_q_question_amount">10</span>
          .progress__line.lf_q_progress_wrapper
            .progress__line-active.lf_q_progress_active(style="width: 20%")
          .progress__text.lf_q_progress_text 20%

      .detail-right
        .company Пройдите тест и получите подборку квартир на электронную почту
        .title.left.lf_q_question_text Какое расположение жилого комплекса<br>вы рассматриваете?
        // вариант ответов текст
        .answers.lf_q_item.lf_q_item_1(style="display: block")
          .answers-item
            label.lf_q_answer
              .check.checked
                input(type="radio", name="lf_q_radio_1").answers-item__input
              span.answers-item__label.lf_q_answer_text Мне нужны только апартаменты
          .answers-item
            label.lf_q_answer
              .check
                input(type="radio", name="lf_q_radio_2").answers-item__input
              span.answers-item__label.lf_q_answer_text Мне нужны только апартаменты
          .answers-item
            label.lf_q_answer
              .check
                input(type="radio", name="lf_q_radio_3").answers-item__input
              span.answers-item__label.lf_q_answer_text Мне нужны только апартаменты

        // вариант ответов кнопки
        .answers.buttons.lf_q_item.lf_q_item_2
          .answers-item
            label.lf_q_answer
              .check
                input(type="checkbox", name="lf_q_check_1").answers-item__input
              span.answers-item__label.lf_q_answer_text Апартаменты
          .answers-item
            label.lf_q_answer
              .check
                input(type="checkbox", name="lf_q_check_1").answers-item__input
              span.answers-item__label.lf_q_answer_text Апартаменты
          .answers-item
            label.lf_q_answer
              .check
                input(type="checkbox", name="lf_q_check_1").answers-item__input
              span.answers-item__label.lf_q_answer_text Апартаменты
          .answers-item
            label.lf_q_answer
              .check.checked
                input(type="checkbox", name="lf_q_check_1").answers-item__input
              span.answers-item__label.lf_q_answer_text Апартаменты
          .answers-item
            label.lf_q_answer
              .check
                input(type="checkbox", name="lf_q_check_1").answers-item__input
              span.answers-item__label.lf_q_answer_text Апартаменты

        // вариант ответов картинки
        .answers.images.lf_q_item.lf_q_item_3
          .answers-item
            label.lf_q_answer.image
              img(src="images/answer.png").lf_q_answer_img
              .check.checked
                input(type="checkbox", name="lf_q_check_1").answers-item__input
              span.answers-item__label.lf_q_answer_text Мне нужны только апартаменты
          .answers-item
            label.lf_q_answer.image
              img(src="images/answer.png").lf_q_answer_img
              .check
                input(type="checkbox", name="lf_q_check_2").answers-item__input
              span.answers-item__label.lf_q_answer_text Мне нужны только апартаменты
          .answers-item
            label.lf_q_answer.image
              img(src="images/answer.png").lf_q_answer_img
              .check
                input(type="checkbox", name="lf_q_check_3").answers-item__input
              span.answers-item__label.lf_q_answer_text Мне нужны только апартаменты
          .answers-item
            label.lf_q_answer.image
              img(src="images/answer.png").lf_q_answer_img
              .check
                input(type="checkbox", name="lf_q_check_4").answers-item__input
              span.answers-item__label.lf_q_answer_text Мне нужны только апартаменты

        // вариант ответов ввод поля
        .answers.text.lf_q_item.lf_q_item_4
          .answers-item__label Введите высоту
            span.dont-know
              input(type="checkbox", id="dont-1")
              label(for="dont-1") Я не знаю
          .answers-item
            input(type="text", placeholder="120 x 130 сантиметров").lf_q_answer
          .space-b
            .answers-left
              .answers-item__label Введите длину
                span.dont-know
                  input(type="checkbox", id="dont-2", checked)
                  label(for="dont-2") Я не знаю
              .answers-item
                input(type="text", placeholder="12 x 13 сантиметров").lf_q_answer
            .answers-right
              .answers-item__label Введите сроки
                span.dont-know
                  input(type="checkbox", id="dont-3")
                  label(for="dont-3") Можно не спешить
              .answers-item.calendar
                input(type="text", placeholder="2 октября 2017").lf_q_answer
        // вариант загрузки файлов
        .answers.files.lf_q_item.lf_q_item_5
          form(action="#")#lf_q_file_form.space-b
            .answers-left
              input(type="hidden", value="2000000", name="MAX_FILE_SIZE")
              input(type="file", name="file[]", id="lf_q_input_file", data-multiple-caption="{count} файлов выбрано", multiple, style="display: none")
              label(for="lf_q_input_file").lf_q_file_button Загрузить файлы
            .answers-right
              .files__desc Нажимте на кнопку и выберите файлы
                span чтобы выбрать несколько файлов, зажмите кнопку ctrl
              .files__status.lf_q_file_status Файлы не выбраны
              .files__types Разрешенные форматы файлов<br>
                | .doc .docx .xls .xlsx .pdf .png .jpg

        .bottom
          .bottom-left
            button(type="button").button.prev.lf_q_back Назад
          .bottom-right
            .article.with-mar.lf_q_gift
              .article__img.lf_q_gift_img
              .article__desc.lf_q_gift_text Полезная статья<br>Как сэкономить<br>до 100 000 рублей
            button(type="button").button.next.lf_q_next Далее

        .technology Работает на технологии leadforest
    // страница анализа
    .detail(style="display: none")
      .detail-right.analysis
        .lf_q_analysis Подготовка результата теста <span>94%</span>

  // форма захвата [BIG]
  .page.lf_q_results
    .detail.big.lf_q_main_form_wrapper
      .detail-left.progress.lf_q_variable
        .progress__title.lf_q_variable_title Вам подойдет коляска типа книжка
        .progress__img.lf_q_variable_img
          // с видео (подразумевается iframe-вставка вместо img)
          img(src="images/video.png")
          // с картинкой
          img(src="images/book.png", style="display: none")
          // с макбуком
          img(src="images/mac.png", style="display: none")
        .progress__desc.lf_q_variable_text Для деток старше года, которые уже умеют сидеть. Лучший вариант - это коляска-книжка.
        .visitors.lf_q_visitors
          .visitors__item.people.lf_q_visitors_now
            span 92
            |  пользователей сейчас проходят тест
          .visitors__item.test.lf_q_visitors_today Сегодня тест был пройден
            span  124
            |  раз(а)
      // правая часть
      .detail-right
        .title.left.lf_q_main_form_h Получите подборку 10 лучших<br>
          | предложений, которые полностью<br>
          | подходят под ваши параметры
        form(action="#")#lf_q_main_form
          .article.with-plus.lf_q_gift
            .article__img.lf_q_gift_img
            .article__desc.lf_q_gift_text Полезная статья<br>Как сэкономить<br>до 100 000 рублей
          .control
            label(for="cont-1").control__label Введите Вашу почту
            .control-area.mail
              input(id="cont-1", name="email", placeholder="ivanov@yandex.ru").control__input
            .control__desc Для отправки файла
          .control
            label(for="cont-2").control__label Введите номер телефона
            .control-area.phone
              input(id="cont-2", name="phone", placeholder="7 999 999 99 99").control__input
            .control__desc Для смс подтверждения
          .control
            button(type="button")#lf_q_main_form_button.control__button Открыть результаты
          .agree
            input(type="checkbox", id="lf_q_agreement", checked).agree__input
            label(for="lf_q_agreement").agree__label Вы соглашаетесь с условиями обработки персональных данных
      // sms
      .detail-right(style="display: none")
        button(type="button").button.prev.lf_q_back Изменить номер
        .lf_q_verify_popup
          .title.left.small-mar.lf_q_verify_form_h На номер <span>7 999 999 99 99</span> было отправлено<br>SMS сообщение с кодом подтверждения
          .send-again.lf_q_verify_timeout Повторная отправка через <span>0:59</span>
          form(action="#", id="lf_q_verify_form")
            .control
              .control-area
                input(type="text", id="lf_q_verify_code", placeholder="Введите полученный код").control__input
            .control
              .control-area
                button(type="button")#f_q_verify_form_button.control__button Открыть результаты
            .article.with-plus.lf_q_gift
              .article__img.lf_q_gift_img
              .article__desc.lf_q_gift_text Полезная статья<br>Как сэкономить<br>до 100 000 рублей

  // форма захвата [MINI]
  .page.lf_q_results
    .detail.big.mini.lf_q_main_form_wrapper
      .detail-left.progress.lf_q_variative
        .progress__title.lf_q_variable_title Подходят под<br>Ваши параметры
        .progress__static.lf_q_variative_text
          span 17
          |  квартир
        .progress__static.lf_q_variative_img
          span 3
          .discount
          .progress__static-desc на 3 из них действуют<br>
            | специальные условия<br>
            | до конца месяца
      // форма
      .detail-right
        .visitors.inline.lf_q_visitors
          .visitors__item.people.lf_q_visitors_now
            span 92
            |  пользователей сейчас проходят тест
          .visitors__item.test.lf_q_visitors_today Сегодня тест был пройден
            span  124
            |  раз(а)
        .title.left.lf_q_main_form_h Получите подборку 10 лучших предложений,<br>
          | которые полностью подходят под ваши параметры
        form(action="#")#lf_q_main_form
          .control
            label(for="contr-1").control__label Введите Вашу почту
            .control-area.mail
              input(id="contr-1", name="email", placeholder="ivanov@yandex.ru").control__input
            .control__desc Для отправки файла
          .control
            label(for="contr-2").control__label Введите номер телефона
            .control-area.phone
              input(id="contr-2", name="phone", placeholder="7 999 999 99 99").control__input
            .control__desc Для смс подтверждения
          .control
            button(type="button")#lf_q_main_form_button.control__button Открыть результаты
            .article.with-plus.lf_q_gift
              .article__img.lf_q_gift_img
              .article__desc.lf_q_gift_text Полезная статья<br>Как сэкономить<br>до 100 000 рублей
          .agree
            input(type="checkbox", id="lf_q_agreement", checked).agree__input
            label(for="lf_q_agreement").agree__label Вы соглашаетесь с условиями обработки персональных данных
      // sms
      .detail-right(style="display: none")
        button(type="button").button.prev.lf_q_back Изменить номер
        .lf_q_verify_popup
          .title.left.small-mar.lf_q_verify_form_h На номер <span>7 999 999 99 99</span> было отправлено<br>SMS сообщение с кодом подтверждения
          .send-again.lf_q_verify_timeout Повторная отправка через <span>0:59</span>
          form(action="#", id="lf_q_verify_form")
            .control
              .control-area
                input(type="text", id="lf_q_verify_code", placeholder="Введите полученный код").control__input
            .control
              .control-area
                button(type="button")#f_q_verify_form_button.control__button Открыть результаты
            .article.with-plus.lf_q_gift
              .article__img.lf_q_gift_img
              .article__desc.lf_q_gift_text Полезная статья<br>Как сэкономить<br>до 100 000 рублей

